---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import LogoStrip from '../components/LogoStrip.astro';
import About from '../components/About.astro';
import Industries from '../components/Industries.astro';
import HowWeHelp from '../components/HowWeHelp.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="BS JOB Consultants | Premium Recruitment & Job Placement Indore">
	<Navbar />
	<main class="flex-grow">
		<Hero />
		<LogoStrip />
		<About />
		<Industries />
		<HowWeHelp />
		<Contact />
	</main>
	<Footer />
</Layout>
